<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestionAsker</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="./resources/QuestionsDB.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
</head>
<body>
<h1><strong>Welcome to Question Asker!!!</strong></h1>
<form name="test" method="post">

    <div id="start_screen_holder">

        <div id="prompt">If you are ready, press START. Good luck!</div>

        <input id="start" type="button" onclick="startTest()" value="Start">
        <input name="restart" type="button" onclick="history.go(0)" value="Restart">
        <select id="questionsAmount" title="Amount of questions" onclick="addMaxValueToQuestionAmount()">
            <option value="5">5 questions</option>
            <option value="10">10 questions</option>
            <option value="25">25 questions</option>
            <option value="50">50 questions</option>
            <option value="100">100 questions</option>
        </select>
    </div>

    <div id="test_answers"></div>

    <div id="question_holder_" style="display: none;">
        <label class="title">Question:
            <span id="question_"></span>
        </label>

        <label class="title">Choice the answer:</label>
        <div id="answer_container_"></div>
        <input name="nextQuestion" type="button" value="Next question" onclick = "getNextQuestion(parseInt(this.getAttribute('data-questionnumber')) + 1)"/>
        <input name="restart" type="button" value="Restart"/>
    </div>

    <label id="answer_holder_" style="display: none;">
        <input type="radio" name="answer_"/>
        <span id="answer_text_"></span>
    </label>


    <div id="result_screen" style="display: none;">

        <div id="results_holder">
            <ul id="results">
                <li></li>
            </ul>
        </div>

        <input name="review" type="button" value="Review"/>
        <input id="newAttempt" type="button" value="New attempt"/>
    </div>
</form>


</body>
</html>