<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QuestionAsker</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="./resources/QuestionsDB.js" type="text/javascript"></script>
    <script src="main.js" type="text/javascript"></script>
</head>
<body>
<h1><strong>Welcome to Question Asker!!!</strong></h1>
<form name="test" method="post">

    <div class="title" id="questionTitle"><Br></div>
    <textarea id="question" name="question" cols="50" rows="4"
                  readonly>If you are ready, press START. Good luck!</textarea>

    <div class="title" id="answersTitle"></div>
    <div class="answers" id="answers"></div>
    <div class="message" id="message"></div>

    <p><input id="next" type="button" onclick="getNextQuestion()" value="Start">
        <input id="reload" type="button" onclick="history.go(0)" value="Restart">
        <select id="questionsAmount" title="Amount of questions"  onclick="addMaxValueToQuestionAmount()">
            <option value="5">5 questions</option>
            <option value="10">10 questions</option>
            <option value="25">25 questions</option>
            <option value="50">50 questions</option>
            <option value="100">100 questions</option>
        </select></p>
</form>


</body>
</html>